%h5.card-title
  = question.answers.empty? ? "No answers yet, be the first to add yours!" : "Add your answer..."

.row
  .col-lg-12
    = simple_form_for [question, Answer.new], :url=>question_answers_path(question) do |f|
      #in.row
        .col-lg-12
          = f.text_area :text, class: "form-control resizeable-textarea", rows: "4"
      #out
      .row
        .col-lg-12.mt-2
          = f.submit 'Submit answer', :class => 'btn btn-primary'
