
%ul
  - topic.versions.each do |v|
    %li
      = link_to "#{l(v.created_at, format: :civilian)} #{User.find_by_id(v.whodunnit).name}", show_history_topic_path(topic, ver: v.id), remote: true
      =# v.changeset
