
%ul.pl-0
  - topic.versions.each_with_index do |v, index|
    -# next if index != 0 && v.whodunnit.nil? || (v.changeset[:content] && !v.changeset[:content].any?(&:present?))
    %li
      - username = User.find_by_id(v.whodunnit).try(:name) || "Unknown"
      - str = "#{l(v.created_at, format: :anytime)} #{username}"
      - if @static_render
        = str
      - else
        = link_to str, show_history_topic_path(topic, ver: v.id), remote: true
