
- activities.each do |activity|
  - act_obj = extract_activity activity
  %ul.list-group
    %li.activity_entry.list-group-item.list-group-flush
      %span.muted= "#{activity[1]["human_name"]}: "
      = link_to(activity[1]["trackable_desc"], activity[1]["trackable_link"])
      .whodunnit.muted
        = show_whodunnit(activity)
