
.panel
  - if activity && activity.owner
    %a{ :href=>"#"}
      #{activity.owner.name}
    %a{ :href=> topic_path(activity.trackable) }
      updated the topic
      %q <i>#{activity.trackable.name}</i>
    #{time_ago_in_words activity.created_at} ago
