
.panel
  - if activity && activity.owner
    %a{ :href=>"#"}
      #{activity.owner.name}
    %a{ :href=> question_path(activity.trackable.question) }
      answered
      %q <i>#{activity.trackable.question.title}</i>
    #{time_ago_in_words activity.created_at} ago
