
<div class="columns large-12 drop_target square" data-url="<%= topic_topic_files_path(@topic) if @topic.id %>">

  <div class="instructions">
    Drop images and files below, or <span style="text-decoration:underline;">click here</span>.<br/>
    <span style="font-size:0.8rem;">Clicking on an image below will insert the link into the editor</span>
  </div>
  
  <div class="file_list">
    <%= render :partial=>"/topic_files/preview", :collection => @topic.topic_files %>
  </div>

</div>

<% content_for :post_body_js do %>
  <%= javascript_tag do %>
    $(function() {
      $('.dz-preview img').on("click", function(){
        var url  = $(this).attr('data-orig');
        var name = $(this).attr('data-filename');
        if (window.code_mirror) {
          var md_image = "!["+ name +"]("+url+")";
          window.code_mirror.replaceSelection(md_image)
        }
      })
    });
  <% end %>
<% end %>
