<div class='who_panel' style="position:relative">
  <span><%= render_avatar(user) %></span>
  <span style="position:absolute">
    <%= user && user.name %> answered<br/> on <%= l(at, format: :short) %>
  </span>
</div>
