<div class='who_panel' style="position:relative">
  <span>
    <%= render_gravatar(user) %>
  </span>
  <span style="position:absolute">
    <%= user && user.name %> asked on<br/> <%= l(at, format: :short) %>
  </span>
</div>
