
<div class='row'>
  <div class='small-1 columns'><%= render :partial=>'/shared/votes' %></div>
  <div class='small-8 columns'>
    <div class='row'>
      <div class='small-12 columns'>
        <%= render_md(answer.text) %>
      </div>
    </div>
    <div class='row'>
      <div class='small-8 columns'>
        edit/flag/ add comment
      </div>
      <div class='small-4 columns'>
        <%= answered_by(answer) %>
      </div>
    </div>
  </div>
  <div class='small-2 columns'></div>
</div>

<br/>
<div class='row'>
  <div class='small-1 columns'></div>
  <div class='small-9 columns'> <hr/> </div>
  <div class='small-2 columns'></div>
</div>
