
Hi Admin,

There is a new user, #{@user.email}, awaiting your approval.

:ruby
  if @resource
    params = {:subdomain => @resource.tenant.subdomain} 
  else
    params = {}
  end
  ""
You can view pending requests at: #{admin_approve_users_url(params) rescue "#{$!} #{$@}"}

Thanks,
The system.
