
<p>Hi Admin,</p>

<p>There is a new user, <%= @user.email %>, awaiting your approval.</p>

<p>You can view pending requests at: <%= admin_approve_users_url(@url_params) rescue $! %></p>

<p>
Thanks,
The system.
</p>
