
<p>Hi Admin,</p>

<p>There is a new user, <%= @user.email %>, awaiting your approval.</p>

<%
  params = if @resource
    {:subdomain => @resource.tenant.subdomain} 
  else
    {}
  end
%>
<p>You can view pending requests at: <%= approve_users_url(params) rescue $! %></p>

<p>
Thanks,
The system.
</p>
