RAILS_ENV  = ENV['RAILS_ENV']  = 'production'
RAILS_ROOT = ENV['RAILS_ROOT'] = '/path/to/your_app/current'
PID_DIR    = '/path/to/your_app/shared/pids'
BIN_PATH   = "/usr/local/rvm/gems/ruby-2.0.0-p247/bin"
UID = 'root'
GID = 'root'

God.log_file  = "#{RAILS_ROOT}/log/god.log"
God.log_level = :info

God.watch do |w|
  w.dir      = "#{RAILS_ROOT}"
  w.name     = "sidekiq"
  w.interval = 30.seconds

  w.start = "cd #{RAILS_ROOT}; nohup #{BIN_PATH}/bundle exec sidekiq -e production -C #{RAILS_ROOT}/config/sidekiq.yml -i 0 -P #{PID_DIR}/sidekiq.pid >> #{RAILS_ROOT}/log/sidekiq.log 2>&1 &"
  w.stop  = "if [ -d #{RAILS_ROOT} ] && [ -f #{PID_DIR}/sidekiq.pid ] && kill -0 `cat #{PID_DIR}/sidekiq.pid`> /dev/null 2>&1; then cd #{RAILS_ROOT} && #{BIN_PATH}/bundle exec sidekiqctl stop #{PID_DIR}/sidekiq.pid 10 ; else echo 'Sidekiq is not running'; fi"

  w.start_grace = 10.seconds
  w.restart_grace = 10.seconds

  w.uid = UID
  w.gid = GID

  w.pid_file = "#{PID_DIR}/sidekiq.pid"
  w.behavior(:clean_pid_file)

  w.start_if do |start|
    start.condition(:process_running) do |c|
      c.interval = 5.seconds
      c.running = false
    end
  end

  w.lifecycle do |on|
    on.condition(:flapping) do |c|
      c.to_state = [:start, :restart]
      c.times = 3
      c.within = 5.minute
      c.transition = :unmonitored
      c.retry_in = 10.minutes
      c.retry_times = 2
      c.retry_within = 2.hours
    end
  end
end
