@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins/_breakpoints';

.topic-card-container {
  .card {
    @extend .bg-light;
    @extend .m-2;
    @extend .float-left;
    @extend .row;
    width:20em; height:9em;

    .topic-image {
      width: 6em;
    }
    .topic-body {
      width: 14em;
      @extend .px-1;
      
      .card-title {
        @extend .px-1;
        a.delete_topic {position:absolute; top:0; right:0.25em;}

        h5 {
          @extend .border-bottom;
          @extend .border-dark;

          width:10em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
          position:relative;
          
        }
      }
    }
  }
}

.avatar img {
  padding-left: .5em;
  @extend .rounded-circle;
}
