- unless current_user.settings(:preference).admin_panel == 'closed'
  .card.mb-3
    .card-body.p-0
      .card-header
        %h5.card-title #{f_icon 'user-shield', color:'#FFA500', style:'text-shadow: 2px 2px #DDD'} Admin Functions
        %br
        %p= link_to "Approve new users", admin_approve_users_path
        %p= link_to "Admin users", admin_users_path
