%br
.row
  .columns.small-8
    .panel.radius
      %h4 What is this?
      %p TribalKnowNow is an experiment to see how to best share and keep the knowledge on a growing software team.  Some of the elements that I felt are important are:
      %ul
        %li organization and categorization
        %li searchable
        %li easily updated and corrected
        %li allow multi-modalities for sharing and teaching

    .panel.radius
      %h4 What is the tech-stack?
      %ul
        %li Rails 4, Ruby 2.1
        %li Postgress
        %li Zurb Foundation
        %li Sphinx (originally started with Solr, but ditched it)
        %li The "production" server is hosted on Digital Ocean, provisioned with Chef-solo and running Nginx + Passenger
        %li A wildcard SSL cert from AlphaSSL is used to encrypt all connections.  Used https://www.ssllabs.com/ssltest to disable obsolete and insecure ciphers and protocols.
