<h1>Welcome!</h1>
<br/>
Got a <%= link_to 'question?', questions_url %>  <%= link_to "Ask here!", new_question_url %>
<br/><br/>
sample questions/topics.  searching for a question also shows related searches on google/SO?<br/>
debugging
- advanced debugging
- 
<h2>Todo</h2>
<ul>
  <li>authentication and authorization</li>
  <li>tagging and search</li>
  <li>questions and answers</li>
  <li></li>
</ul>

<h2>Whats new:</h2>
<ul>
  <li>XXX has updated XXX</li>
  <li>YYY has created YYY</li>
  <li></li>
</ul>
<h3>Your stats:</h3>
<br/>

<h2>Some notes</h2>
<ul>
  <li>sequence diagrams http://bramp.github.io/js-sequence-diagrams/ https://github.com/bramp/js-sequence-diagrams</li>
  <li>http://raphaeljs.com/</li>
  <!-- <li></li>
  <li></li>
  <li></li> -->
  
</ul>
