<%= @activities.inspect %>

<h1>Welcome!</h1>
<br/>
Got a <%= link_to 'question?', questions_url %>  <%= link_to "Ask here!", new_question_url %>
<br/><br/>
<%= link_to 'TODO list', '/todo' %>


<i class="fi-home"></i>
Why use tribal know now:
<!--<a href="#" class="fc-webicon facebook">Like us on Facebook</a>-->


company - tenant
  empoyeees
  icons
  company logo
  basic company info

workflow for creating a new company
  email must have company domain?
  how to check this?
  how to allow new users to join an existing company?

Users
  can they "find" a company to join from universal portal or do they have to go to a subdomain?


questions are by default
  tenanted to the company
  user must allow for public availability
  user must allow for designer to rewrite copy/create infographic/create video
  information security is paramount
  answered.  choose one of the answers as the special one to love


Answers
  accepted?
  helpful
  not helpful
  
stats 
  within a tenant
  within public q's
  how many q's
  how many a's
  how many helpful
  how many not helpful






<h2>Whats new:</h2>
<ul>
  <li>XXX has updated XXX</li>
  <li>YYY has created YYY</li>
  <li></li>
</ul>
<h3>Your stats:</h3>
<br/>

