<h1>Welcome!</h1>
<br/>
Got a <%= link_to 'question?', questions_url %>  <%= link_to "Ask here!", new_question_url %>
<br/><br/>
<%= link_to 'TODO list', '/todo' %>

<h2>Whats new:</h2>
<ul>
  <li>XXX has updated XXX</li>
  <li>YYY has created YYY</li>
  <li></li>
</ul>
<h3>Your stats:</h3>
<br/>

