<h1>Welcome!</h1>
<br/>

<h2>Todo</h2>
<ul>
  <li>authentication and authorization</li>
  <li>tagging and search</li>
  <li>questions and answers</li>
  <li></li>
</ul>
Tmp link: <%= link_to "topics", topics_path %>

<h2>Whats new:</h2>
<ul>
  <li>XXX has updated XXX</li>
  <li>YYY has created YYY</li>
  <li></li>
</ul>

<h2>Your stats:</h2>

