
<h2><%= image_tag("blue-owl-th.png") %> Welcome To TribalKnowNow!</h2>

<div class="callout panel">
  <h3>What is this?</h3>
  <p><b>T</b>ribal<b>K</b>now<b>N</b>ow combines elements of a Q and A site plus wikis, and adds a dash of organisation, sprinkling elements of gamification for private teams.</p>
  <p>TKN aims to solve the problem of spreading tribal knowledge through a rapidly growing team.</p>
</div>

<p>To get started, login to your private tribalknownow app, or contact your team admin.</p>
