
<h2>Todo</h2>
<ul>
  <li>explore replacement of mdmagick.js+redcarpet+google-code-prettify with https://github.com/coreyti/showdown and highlight.js</li>
  <li>authentication and authorization. multi-tenanting/ private groups.  moderators?  admin interface</li>
  <li>tagging and search</li>
  <li>searching for a question also shows related searches on google/<a href="https://api.stackexchange.com/">SO</a>? </li>
  <li>
    questions and answers
    <ul>
      <li>upvote</li>
      <li>accept answer</li>
      <li>watch</li>
    </ul>
  </li>
  <li>tech-tree, badges</li>
  <li>notifications: email, hipchat, sms?</li>
  <li>activity feeds, following topics, questions, and people</li>
</ul>

<h2>Some notes</h2>
<ul>
  <li>sequence diagrams http://bramp.github.io/js-sequence-diagrams/ https://github.com/bramp/js-sequence-diagrams</li>
  <li>http://raphaeljs.com/</li>
  <li>https://github.com/sofish/pen#readme</li>
  <li>http://ace.c9.io/#nav=about</li>
  <li>https://github.com/joemccann/dillinger - a client-side markdown editor, perhaps use as a base</li>
  <li>https://github.com/krisleech/chalk_dust - chalk dust, an activity feed</li>
  <li>showterm.io,  https://github.com/chjj/tty.js https://github.com/liftoff/GateOne/ - a way to do terminal based screencasts.</li>
  <li>http://www.udjamaflip.com/javascript/98-html5-video-subtitles-utilising-mozilla-s-popcorn-js popcorn.js</li>
  <!-- <li></li>
  <li></li>
  <li></li> -->
  
</ul>
