sample questions/topics.  <br/>
<h2>Todo</h2>
<ul>
  <li>authentication and authorization. multi-tenanting/ private groups</li>
  <li>tagging and search</li>
  <li>searching for a question also shows related searches on google/SO?</li>
  <li>questions and answers</li>
  <li></li>
</ul>

<h2>Some notes</h2>
<ul>
  <li>sequence diagrams http://bramp.github.io/js-sequence-diagrams/ https://github.com/bramp/js-sequence-diagrams</li>
  <li>http://raphaeljs.com/</li>
  <!-- <li></li>
  <li></li>
  <li></li> -->
  
</ul>
