// Prevent bootswatch style from adding a text-shadow to active form controls
.form-control:-moz-focusring{
  text-shadow: none !important;
}

.avatar img {
  @extend .rounded-circle;
}

// makes img inside search results stay within the card
.card {
  img {
    @extend .img-fluid;
  }
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.question-stats {
  text-align: center;
  font-size: .8em;

  .status-votes, .status-answers{
    strong { font-size: 2em; }
  }
}


#question_body, .topic_content {
  table { 
    @extend .table;
    @extend .table-striped;

    border: 1px solid $gray-500;
    thead { @extend .thead-dark; }
  }
}

.topic_content {
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  h4, h5, h6 { font-size: 1.2em; }
}

.topic_content {
  p {
    img {
      @extend .img-fluid;
      @extend .rounded;
      max-width: 80%;
      padding: .5em;
      border: 2px solid $gray-500;
    }
  }
}

ul.panel_list.toc_tree {
  padding-left: 0;

  ul.panel_list.toc_tree {
    position: relative;
    margin-left: 1em;
  }
}

.resizeable-textarea{
  resize: both;
}

.monospace {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.9em;
}

@import "markdown_editor";
