
.row
  .col-lg-7
    %h3
      Searching for:
      %q #{params[:q]}
.row
  .col-lg-10.offset-lg-1
    = render :partial => 'results', :collection => @results
.row
  .col-lg-8
  .col-lg-4
    = will_paginate @results
