/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2-zurb
 *= require mdedit
 *= require autocomplete
 *= require top_nav
 *= require in_place_edit
 *= require topics
 *= require questions
 *= require drag_n_drop
 *= require alerts_n_errors
 *= require voting
 */

@import 'foundation-icons';
@import 'foundation-social-web-icons';
@import 'foundation_and_overrides';

.center {
  text-align: center
}

a.button {
  color: #EEE;
}

#content {
  a {
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 0.3s ease;
  }
  a:hover, a:focus {
    border-bottom-color: #333;
  }
}


h1.title {
  font-size: 1.8em;
  font-weight: bold;
}

.row.for_header {
  margin-bottom: 10px;
  margin-top: 2em;
  border-width: 2px;
  border-bottom-width:1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#footer {
  margin-top:5em;
  margin-bottom: 1em;
}

.titled-panel {
  // @include panel();
  margin: 0;
  border: 1px solid gray;
  .content {
    padding: 1em 1em 0em 1em;
    p {
      margin-bottom: 0;
    }
  }
  .created_at {
    text-align:right;
    padding: 8px;
    font-size: .75em;
    color: #999;
  }
  h2.title {
    text-shadow: 1px 2px 2px rgba(255,255,255,0.3);
    font-weight: bold;
    font-size: 1.5em;
    background-color: #444;
    color: #EEE;
    padding: 17px;
    width:100%;
    margin:0px;
  }
}

.close {
  float: right;
  &:after {
    content: "\00d7";
  }
}

div.tags_editor {
  display: inline;
}

a.taglink {
  $padding: 0.25rem;
  $bg: $primary-color;
  $radius: .7rem;
  $full-width: false;
  $disabled: false;
  $is-input: false;
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
  margin-bottom: 0.2rem;
  padding-top: 0.4rem;
  font-size: 75%;
}

.search_result_title {
  font-weight: bold;
  font-size: 1.75em;
}

.small_light_title {
  font-size:0.8em;
  color: #999;
}
.small {
  font-size:0.8em;
}

.row_spacer {
  padding-top:2em;
}

.panel {
  line-height: 1.3em;
}

.panel_offset_link {
  font-size:0.75em; padding-top:1.75rem; text-align:right; margin-bottom:-14px;
}

.panel_title {
  font-weight: 150%;
  font-size: 1.5em;
  border-bottom: 1px solid silver;
}

span.match {
  font-weight: bold;
  font-style: italic;
}


// DEFAULT OPTIONS
$defaultDuration: .3s;
$primaryColour: #e1e1e1;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);
// Browser Prefixes
$webkit: true;
$moz: false;
$ms: false;
$o: false;

// prefix declarations
@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }
  @if $moz == true {
    -moz-#{$property}: #{$value};
  }
  @if $ms == true {
    -ms-#{$property}: #{$value};
  }
  @if $o == true {
    -o-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}

/* Glow */
@mixin glow {
  display: inline-block;
  @include prefixed(transition-duration, $defaultDuration);
  @include prefixed(transition-property, box-shadow);
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px $shadowColour;
  }
}
.glow {
  @include glow();
}

.doc_group {
  background-color: #CCC;
  padding: 1em;
  .panel {
    padding: 2em;
    width: 100%;
  }
}

div.input {
  padding-top: 12px;
  padding-bottom: 12px;
  input {
    margin-bottom: 0px;
  }
}

.hint {
  color: #444;
  font-size: 0.75em;
  font-style: italic;
}

