/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }

.ui-menu {
  list-style:none;
  padding: 10px;
  margin: 0;
  display:block;
  width:227px;
  background-color: white;
  opacity: .9;
  border-color: black;
  border-width: 1px;
  border: solid;
  font-size: 11px;
}

.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  width: 200px;
}

.ui-menu-item:hover{
  background: lightgrey;
  cursor: pointer;
}


.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}