


i.edit_icon {
  opacity: 0;
  transition: 2s linear;
}
.best_in_place:hover + i, i.edit_icon:hover {
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
  display: inline;
}
i.edit_icon:hover {
  cursor: default;
  color: #3E3;
}


