


i.edit_icon {
  opacity: 0;
  transition: 1s linear;
  display: inline;
}

.best_in_place:hover + i, i.edit_icon:hover {
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
  display: inline;
  padding-left: 0.25em;
}

i.edit_icon:hover {
  cursor: default;
  color: #3E3;
  display: inline;
}


