.panel.question_panel {
  padding-bottom: 2em;
}

.question_title {
  font-weight: bold;
}

.question_answer {
  padding: 0.5em 0.5em 0em 0.5em;
}

.question_answer_links {
  padding-left: 0.5em;
  padding-top: 0px;
  margin-top: -0.5em;
}