
a.button {
  color: #EEE;
}

.panel.popular_list {
  h2 {
    font-size: 1.5em;
  }

  ul {
    margin-left: 0;
    font-size: 0.98em;
    margin-top: 0.5em;
    list-style: none;
  }
  li {
    position: relative;
    line-height: 1.2rem;
    margin-bottom: 0.5em;
  }
}

span.badge-count {
  vertical-align: middle;
  font-size: .7em;
  text-align: center;
  border-radius: 10px;
  border: 4px;
  display: inline-block;
  white-space: nowrap;
  color: #7a7a7a;
  background-color: #e4e4e4;
  padding: .4em;
  margin: 0px 2px 0px 2px;
  line-height: 1;
}

h1.title {
  font-size: 1.8em;
  font-weight: bold;
}


.row.for_header {
  margin-bottom: 10px;
  margin-top: 2em;
  border-width: 2px;
  border-bottom-width:1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#footer {
  margin-top:5em;
  margin-bottom: 1em;
}


.titled-panel {
  // @include panel();
  margin: 0;
  border: 1px solid gray;
  .content {
    padding: 1em 1em 0em 1em;
    p {
      margin-bottom: 0;
    }
  }
  .created_at {
    text-align:right;
    padding: 8px;
    font-size: .75em;
    color: #999;
  }
  h2.title {
    text-shadow: 1px 2px 2px rgba(255,255,255,0.3);
    font-weight: bold;
    font-size: 1.5em;
    background-color: #444;
    color: #EEE;
    padding: 17px;
    width:100%;
    margin:0px;
  }
}

.close {
  float: right;
  &:after {
    content: "\00d7";
  }
}

#content {
  a {
    border-bottom: 1px solid #92CDE0; 
  }
  a:visited {
    color: #8000BA;
    border-bottom: 1px solid #C59AD9;
  }
  a:hover, a:focus {
    border-bottom-color: #333;
  }

  a.icon_link {
    color:inherit;
    text-decoration:none !important;
    border-bottom: 0px;
  }

  a.left_of_answer {
    position: absolute;
    top: 0.25em;
    left: -1em;
  }
}

div.tags_editor {
  display: inline;
}


a.taglink {
  // $padding: 0.25rem;
  // $bg: $primary-color;
  // $radius: .7rem;
  // $full-width: false;
  // $disabled: false;
  // @include button($padding, $bg, $radius, $full-width, $disabled);
  margin-bottom: 0.2rem;
  padding-top: 0.4rem;
  font-size: 75%;
}

.search_result_title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.small_light_title {
  font-size:0.8em;
  color: #999;
}
.small {
  font-size:0.8em;
}

.row_spacer {
  padding-top:2em;
}

.panel {
  line-height: 1.3em;
}

.panel_offset_link {
  font-size:0.75em; padding-top:1.75rem; text-align:right; margin-bottom:-14px;
}

.panel_title {
  font-weight: 150%;
  font-size: 1.5em;
  border-bottom: 1px solid silver;
}

span.match {
  font-weight: bold;
  font-style: italic;
}

.doc_group {
  background-color: #CCC;
  padding: 1em;
  .panel {
    padding: 2em;
    width: 100%;
  }
}

div.input {
  padding-top: 12px;
  padding-bottom: 12px;
  input {
    margin-bottom: 0px;
  }
}

.hint {
  color: #444;
  font-size: 0.75em;
  font-style: italic;
}

table {
  table-layout: auto;
}

div.who_panel {
  position: relative;
  span.avatar img {
    width:  38px;
    height: 38px;
    margin-top: 0.2em;
  }
  span.who {
    position: absolute;
    padding-left: 0.5em;
    font-size: 0.75em;
    line-height: 0.9em;
  }
}

// whoo hoo, round avatars
.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.popular_questions{
  list-style: none;
  margin-left: 0;
  li{
    margin-bottom: .5em;
  }
  .votes{
    white-space: nowrap;
    padding-right: .5em;
  }
  .votes, .title{
    display: table-cell;
  }
}

.video_panel {
  background-color: #CCC;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  height: 16em;
  .video_poster {
    height: 8em;
    overflow: hidden;
    img {
      border:1px solid green;
      width:100%;
    }
  }
  .name_container {
    overflow: hidden;
    height: 2em;
  }
  .name {
    width: 85%;
  }
  .desc {
    font-size: 0.7em;
  }
  .date {
    font-size: 0.7em;
  }
}

.activity_entry {
  font-size: 0.8em;
  .whodunnit {
    font-size: 0.8em;
    text-align: right;
  }
}

.activity_entry+.activity_entry {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #CCC;
}

.stats_panel {
  h3 i {
    color: #3A3;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}

#content .search_param a:hover,#content .search_param a:focus {
  border-bottom:none; color: #EEE;
}

.tag_cloud {
  .css1 { font-size: 0.7em; background-color: lighten(#08B, 0%);  color: darken(#fff, 0%)}
  .css2 { font-size: 0.7em; background-color: lighten(#08B, 10%); color: darken(#fff, 10%)}
  .css3 { font-size: 0.7em; background-color: lighten(#08B, 30%); color: darken(#fff, 40%)}
  .css4 { font-size: 0.7em; background-color: lighten(#08B, 60%); color: darken(#fff, 60%)}
}

.search_param {
  // @include label;
  span {
    padding-left: 6px;
    margin-left: 4px;
    border-left: 1px solid #666;
  }
}



