
ul.toc_tree {
  padding-left: 0;
}

.topic_content {
  padding-top: 1.5em;
  h2 {
    font-size: 1.8em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
  }
  h4 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 0.8px solid #CCC;
  }
}

div#toc {
  #toc_list {
    // margin-left: -17px;
  }

  ul {
    font-size: 0.98em;
    margin-top: 0.5em;
    list-style: none;
    margin-left: 10px;
  }
  li {
    position: relative;
    line-height: 0.95em;
    margin-bottom: 0.5em;
  }
}
ul.subtopic_list {
  //margin-left: -17px;
    font-size: 0.98em;
    margin-top: 0.5em;
    list-style: none;
    margin-left: 0px;
  li {
    position: relative;
    line-height: 0.95em;
    margin-bottom: 0.5em;
  }
}

.topic_index_element {
  p {
    padding-top: 0.45rem;
    margin-bottom: 0.7rem;
    line-height: 1.2rem;
  }
  .subtopics {
    font-size: 0.6em;
  }
  .topic_icon {
    padding-right:5px;
    width: 100px;
    height: 100px;
  }
  .topic_icon.hover {
    border: 5px dashed #333;
  }
  .title {
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .taglist {
    float: right;
    width: 66%;
  }
}

.topic_index_element .delete_topic {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}
.topic_index_element:hover .delete_topic {
  visibility: visible;
  opacity: 1;
}

#content a.anchor_link {
  position: relative;
  display: block;
  text-decoration: none;
  border-bottom: none;
  border-bottom-color: none;

  i.header_anchor_link {
    margin-left: -1.25em;
    padding-right: 0.65em;
    visibility: hidden;
  }
  h1 { display: inline; border-bottom: none; }
  h2 { display: inline; border-bottom: none; }
  h3 { display: inline; border-bottom: none; }
  h4 { display: inline; border-bottom: none; }
  h5 { display: inline; border-bottom: none; }
}

#content a.anchor_link:hover {
  i.header_anchor_link {
    margin-left: -1.25em;
    padding-right: 0.65em;
    visibility: visible;
  }
}


